body {
  font-family: "Roboto";
  background: #ebebeb;
	margin: 0;
}

/*Box of: logo, icons-social and search*/
.first {
	background: #E00109;
	padding: 21px 12%;
	position: relative;
	height: 35px;
}

.first > div {
	display: inline-flex;
	position: absolute;
}
	/*--logo*/
.sprite {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
}
.sprite-logo {
	width: 281px;
	height: 49px;
	background-position: -555px -362px;
	color: white;
}
	/*--box social*/
div > .div-box-social {
	top: 7px;
	left: 42%;
}
.box-social {
	margin: 0;
}
.box-social > li{
	display: inline-block;
}

/*cajita de buscador*/
.search {
	border-radius: 21px;
  right: 13%;
  padding: 6px;
  border-style: solid;
  color: white;
	width: 70px;
	font-weight: 700;
}
.search > div {
	display: inherit;
}
div > .box-icon-search{
	transform: scaleX(-1); /*voltea horizontalmente*/
	position: absolute;
	right: 4px;
	top: -9px;
}
/*---------------------*/
/*my menu*/
nav {
	background-color: #5C5C66;
}
.box-menu {
	background-color: #4D4D59;
	margin: auto 8%;
}
.box-menu > ul{
	margin: 0;
	padding: 0 21px;

}
ul > li{
	display: inline-block;
	padding: 14px;
	list-style: none;
	color: white;
}
li > .more {
	display: inline-block;
	transform: rotate(180deg);
}
/*--------------------*/
/*noticias*/
.box-noticias{
	margin: auto 8%;
	background-color: white;
	padding: 10px;
}
/*--------------------*/
/*noticia derecha*/
.new-right {
	width: 35%;
	float: right;

}
.right-top {
	position: relative;
	height: 210px;
	background: blue;
	padding: 14px;
}
/*--------------------*/
/*noticias izquierda*/
.new-left {
	width: 65%;
	float: left;
}
.left-top {
	position: relative;
	height: 245px;
	background: red;
	padding: 14px;

}
.left-top > .left-text{
	width: 35%;
	position: absolute;
	padding: 7px 14px;
	background: #333340;
	color: white;
	justify-content: space-around;
}
.left-text > ul >li > span {
	color: gray!important;
}
/*imagen sprite*/
.left-top > span {
	width: 60%;
	position: absolute;
}

.sprite-odebrecht {
    width: 425px;
    height: 250px;
    background-position: -836px -362px;
		right: 0;
}
/*left bottom*/
.left-bottom {
	padding: 14px;
	background: blue;
	position: relative;
	height: 410px;
}
.left-bottom > .bottom-left{
  margin-left: 20px;
  width: 55%;
  position: absolute;
  padding: 7px 14px;
  background: #333340;
  color: white;
  justify-content: space-around;
  box-sizing: border-box;
  left: 0;
}
/*image sprite*/
.bottom-left > span {
  position: absolute;
  width: 100%;
  height: 40%
}
.sprite-alejandra-aramayo {
  width: 312px;
  height: 165px;
  background-position: -243px 0;
  top: 0;
  left: 0;
}
/*texto hacia abajo */
.bottom-left > .left-text {
  padding: 7px 14px;
  width: 100%;
  top:   40%;
	position: absolute;
	background: #333340;
	color: white;
	justify-content: space-around;
	left: 0;

}

/*bottom right*/
.left-bottom > .bottom-right {
	width: 40%;
	position: absolute;
	padding: 7px 14px;
	margin-right: 20px;
	background: #333340;
	color: white;
	justify-content: space-around;
	right: 0;
}
.left-text > ul >li > span {
	color: gray!important;
}
/*imagen sprite*/

/*--------------------*/
/*--------------------*/
/*--------------------*/
/*--------------------*/

.sprite-alcalde-de-chilca {
	width: 243px;
	height: 270px;
	background-position: 0 0;
}





.sprite-anuncio {
    width: 310px;
    height: 86px;
    background-position: -243px -165px;
}


.sprite-corea-del-norte- {
    width: 312px;
    height: 16px;
    background-position: -243px -251px;
}


.sprite-futbol {
    width: 644px;
    height: 362px;
    background-position: -555px 0;
}







.sprite-senora {
    width: 53px;
    height: 84px;
    background-position: -1199px 0;
}
